<!DOCTYPE html>
<html>
  {% include head.html %}
  <body>
    <div class="page-content">
      <div class="wrapper">
        <header class="flex items-center">
          <a href="{{site.url}}" class="landing-page-logo"></a>
          {% if page.show_nav %}
          <nav class="landing-page-nav inline-block">
            <a href="">Über uns</a><a href="">Warum Amazon?</a><a href="">Unsere Produkte</a><a href="">Noch mehr Sparen!</a>
          </nav>
          {% endif %}
        </header>
        <div class="flex flex-wrap pt-8">
          <div class="landing-page-gallery-container w-1/2">
            <ul class="landing-page-gallery">
              {% for image in page.images %}
              <li data-thumb="images/{{image}}" data-src="images/{{image}}">
                <img src="images/{{image}}" />
              </li>
              {% endfor %}
            </ul>
          </div>
          <section class="w-1/2">
            <h1>{{page.heading}}</h1>
            <p>{{page.description}}</p>
            <div class="flex items-center">
              <div class="w-1/2">
                <span class="text-red">Nur für kurze Zeit:</span>
                <div class="flex items-top">
                  <div class="line-through">{{page.price}}</div>
                  <div class="pl-3 text-green text-3xl">{{page.discounted_price}}</div>
                </div>
              </div>
              <div class="w-1/2">
                <a href="{{page.amazon_link}}" class="landing-page-buy-now w-full">Jetzt bestellen!</a>
              </div>
            </div>
          </section>
          <section class="w-full h-16"></section>
          <section class="w-3/4">
            <h2 class="w-full text-center">{{page.features_heading}}</h2>
            <ul class="pr-8">
              {% for feature in page.features %}
                <li>{{feature}}</li>
              {% endfor %}
            </ul>
          </section>
          <section class="w-1/4">
            <h2 class="w-full text-center">Wieso Amazon?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ut magna condimentum,
               cursus nibh a, semper orci. Pellentesque habitant morbi tristique senectus et netus
               et malesuada fames ac turpis egestas.</p>
          </section>
          <section class="w-full flex mt-8">
            {% for review in page.reviews %}
            <div class="w-1/{{forloop.length}} px-4 text-sm text-center">
              {{review}}
              <div class="flex pt-2">
                {% for i in (1..5) %}
                <img class="w-1/{{forloop.length}}" style="height: {{100 / forloop.length}}%;" src="images/star.svg" alt="review star">
                {% endfor %}
              </div>
            </div>
            {% endfor %}
          </section>
          <section class="landing-page-second-buy-call w-full flex">
            <a href="{{page.amazon_link}}" class="landing-page-buy-now w-1/3 mx-auto">Jetzt bei Amazon bestellen!</a>
          </section>
        </div>
        {{ content }}
      </div>
    </div>
    {% include footer.html %}

    <script type="text/javascript">
      $(document).ready(function() {
        $('.landing-page-gallery').lightSlider({
          gallery: true,
          item: 1,
          loop: true,
          thumbItem: 9,
          slideMargin: 0,
          enableDrag: false,
          currentPagerPosition: 'left',
        });
      });
    </script>
  </body>
</html>
